div{
    text-align: center;
}
#pilt1{
    border: 2px solid;
    border-radius: 100px;
    border-color: white;
    width: 20%;
}
#pilt2{
    width: 80%;
    margin-left: 3%;
    border-radius: 160px;
}
h1{
    font-family: Georgia, Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: darkslategrey;
    text-align: center;
}
body{
    font-family: Georgia, Times, serif;
    background-color: mistyrose;
}
ul{
    list-style-type: square;
    margin-left: 5%;
    border: 3pt dotted white;
    width: 20%;
}
#issue1{
    font-family: Georgia, Times, serif;
    letter-spacing: 2px;
    text-align: center;
}
#list{
    border: none;
}
p{
    margin-left: 3%;
    margin-right: 3%;
}